.contentBackground {
    padding: 24px;
    min-height: 380px;
    /* background: #141414; */
    border-radius: 8px;
}

.appLayout {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}