  .homePage {
    padding: 50px;
  }
  
  .introSection {
    margin-bottom: 50px;
    padding-bottom: 5%;
  }
  
  .introImage {
    width: 100%;
    height: auto;
    filter: brightness(0.8) contrast(0.9);
  }
  
  .featuresSection {
    text-align: center;
  }
  
  .featuresSection h2 {
    margin-bottom: 30px;
  }
  
  .antCard {
    text-align: center;
  }

  .customCard .featureImage {
    width: 50%;
    display: -webkit-inline-box;
    padding-top: 2%;
    /* filter: brightness(0.8) contrast(0.9);
    mix-blend-mode: difference; */
  }
  
  #title {
    margin-top: 0;
    font-size: 100px;
    font-family:monospace;
  }

  #titleDarkMode {
    margin-top: 0;
    font-size: 100px;
    font-family:monospace;
    color: #1668dc;
  }
