.homePage {
    padding: 50px;
  }
  
  .introSection {
    margin-bottom: 50px;
    padding-bottom: 5%;
  }
  
  .introImage {
    width: 100%;
    height: auto;

  }
  
  .featuresSection {
    text-align: center;
  }
  
  .featuresSection h2 {
    margin-bottom: 30px;
  }
  
  .antCard {
    text-align: center;
  }

  .customCard .featureImage {
    width: 50%;
    display: -webkit-inline-box;
    padding-top: 2%;
  }
  